.cards-container {
    padding: 6vh 8vh;
}

.card-heading h2{
    text-align: center;
}

.card-item {
    padding-top: 30px;
    gap: 20px;
}

.card {
    width: 255px;
    height: 375px;
    padding: 2vh;
}

.item-img img {
    border-radius: 20px;
    width: 255px;
    height: 258px;
    background-color: #F0F0F0;
}
.item-text{
    width: 255px;
}
.pricing {
    display: flex;
    gap: 15px;
}

.pricing p {
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 5px;
    text-align: left;
}